.App {
  text-align: center;
  font-size: 35px;
  margin-top: 10%;
}

.App-title {
  font: 50px;
}

.alignCenter{
    text-align: center;
}

.displayInline {
  display: inline;
}

.dateInput{
    font: 25px;
    margin: 0 auto;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
  margin: 10px;
}
